<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/tabs/doing">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button [disabled]="editToDoForm.invalid" (click)="saveToDo()">
        <ion-icon name="checkmark" color="primary" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{titleBarText}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="editToDoForm">
    <ion-item>
      <ion-label position="floating">Title</ion-label>
      <ion-input type="text" size="25" class="toDoTitle" formControlName="title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-textarea placeholder="Description" rows="6" formControlName="description"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label>Priority</ion-label>
      <ion-range min="0" max="10" step="1" formControlName="priority"></ion-range>
    </ion-item>
    <ion-item-group>
      <ion-row  justify-content-between>
        <h5>Deadline</h5>
        <ion-toggle formControlName="showingDeadlineMenu" align-self-center></ion-toggle>
      </ion-row>
      <div [style.display]="showingDeadlineMenu ? 'block' : 'none'">
        <ion-item>
          <ion-label>Deadline</ion-label>
          <ion-datetime displayFormat="DD/MM/YYYY HH:mm" formControlName="deadline" max="2100"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label>Notifications</ion-label>
          <ion-select multiple="true" okText="Ok" cancelText="Cancel" formControlName="notificationsSelect">
            <ion-select-option value="300000">5m before</ion-select-option>
            <ion-select-option value="600000">10min before</ion-select-option>
            <ion-select-option value="3600000">1h before</ion-select-option>
            <ion-select-option value="14400000">4h before</ion-select-option>
            <ion-select-option value="86400000">1day before</ion-select-option>
          </ion-select>
        </ion-item>
      </div>
    </ion-item-group>
  </form>
</ion-content>
