<ion-header>
  <ion-toolbar>
    <ion-title>
      Lio To-Do
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <app-to-do-entry-doing *ngFor="let toDo of toDos.getAllDoing()"
                     [toDo]="toDo"
                     (archiveItem)="toDos.moveToArchive($event)"
                     (movedToDone)="toDos.moveToDone($event)">
    </app-to-do-entry-doing>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['/edit-to-do', 'new']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
